@padding      : .7rem;
@controlWidth : .8rem;
@headerHeight : 2rem;
@minWidth     : 550px;

.wrap {
    position                  : fixed;
    bottom                    : 0;
    right                     : 0;
    top                       : 0;
    font-size                 : .9rem;
    user-select               : none;
    min-width                 : @controlWidth;
    transition-timing-function: ease-out;
    overflow-y                : auto;
    overflow-x                : visible;
    z-index                   : 4;

    &::-webkit-scrollbar {
        display: none
    }

    >* {
        min-width: @minWidth;
    }

    >header {
        position       : absolute;
        width          : 100%;
        top            : 0;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : (@padding + .8rem);
        height         : @headerHeight;
        line-height    : @headerHeight;
        font-size      : .9rem;
        z-index        : 2;
        overflow       : hidden;

        button {
            color    : inherit;
            font-size: inherit;
            padding  : .2rem .4rem;
        }
    }
}

.list {
    padding  : (@padding + @headerHeight) @controlWidth @padding;
    font-size: .75rem;
    position : relative;
    width    : 100%;

    >li {
        padding: .6rem 0;
    }
}

.control {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    width   : @controlWidth;
    cursor  : e-resize;
}

.song-item {
    display        : flex;
    justify-content: space-between;

    >.is-play {
        width    : 1rem;
        min-width: 1rem;
    }

    >.item-left {
        padding-left : @padding;
        width        : 50%;
        min-width    : 50%;
        padding-right: 1em;

        >.mv {
            margin-left   : .6rem;
            vertical-align: text-top;
        }
    }

    >.artist {
        width        : 30%;
        min-width    : 30%;
        padding-right: 1em;
    }

    >.source {
        width    : 10%;
        min-width: 10%;
    }

    >.duration {
        width    : 10%;
        min-width: 10%;
    }
}