.wrap {
    user-select: none;
    height     : 100vh;
    position   : relative;
    overflow-y : auto;

    >article {
        max-width: 90rem;
        margin   : 0 auto;
        padding  : 1rem 4rem;
    }

    .hide {
        visibility: hidden;
        position: absolute;
    }
}

.over-hide {
    overflow: hidden !important;
}