.wrap {
    display        : flex;
    padding        : 2rem 2rem;
    justify-content: space-evenly;

    >section {
        >header {
            height: 3rem;
        }
    }

    .tags {
        >li {
            /* 内容 / 内容 */
            display  : inline-block;
            margin   : 0 .1rem;
            font-size: .8rem;
        }
    }
}

.left {
    width    : 70%;
    max-width: 50rem;

    >header {
        display    : flex;
        align-items: baseline;
        flex-wrap  : nowrap;

        >span {
            font-size     : 1.2rem;
            vertical-align: middle;
            padding       : 0 .2rem;
        }

        >ol {
            margin-left: .4rem;
            display    : flex;
        }
    }

    >article {
        margin-top: 2rem;
    }

    .pagination {
        width : 60%;
        margin: 2rem auto;
    }
}


.right {
    width      : 30%;
    min-width  : 12rem;
    margin-left: 2rem;

    >header {
        border-width: 0 0 1px 0;
    }

    >footer {
        margin-top: 4rem;
    }
}

.relate-data {
    font-size: .85rem;

    >header {
        display        : flex;
        justify-content: space-between;
    }

    >* {
        margin-top: 1rem;
    }
}