.player-fade-enter,
.player-fade-appear {
    transform: scale(.1, 0);
}

.player-fade-enter,
.player-fade-enter-active,
.player-fade-appear,
.player-fade-appear-active {
    transform: scale(1, 1);
}

.player-fade-exit {
    transform: scale(1, 1);
}

.player-fade-exit,
.player-fade-exit-active {
    transform: scale(.1, 0);
}
